{% comment %}
Этот шаблон используется для сохранения параметров фильтрации
при переходе между страницами пагинации
{% endcomment %}

{% if current_filters.department %}&department={{ current_filters.department }}{% endif %}
{% if current_filters.laboratory %}&laboratory={{ current_filters.laboratory }}{% endif %}
{% if current_filters.is_active %}&is_active={{ current_filters.is_active }}{% endif %}
{% if current_filters.search %}&search={{ current_filters.search }}{% endif %}
{% if current_filters.sort %}&sort={{ current_filters.sort }}{% endif %}